* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

/* ###########################################*/

#page {
  display: grid;
  grid-template-columns: 10fr 25fr 14fr;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  padding: 0px 9%;
}

button {
  width: 90%;
  padding: 1rem 0px;
  margin: auto;
  border: none;
  border-radius: 3rem;
  background: rgba(29, 161, 242, 1);
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

/* ###########################################*/

nav {
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  padding: 1rem 0px;
  font-size: 1.4rem;
  position: fixed;
}

nav > a {
  display: flex;
  flex-direction: row;
  transition: 200ms ease-in-out;
  border-radius: 50px;
  padding: 0.8rem 1.2rem;
}

nav a {
  color: black;
  text-decoration: none;
  align-self: center;
  margin-right: auto;
}

nav > a:hover {
  background: rgba(29, 161, 242, 0.1);
  color: rgba(29, 161, 242, 1);
  font-weight: 500;
}
nav > a > svg {
  margin-right: 1.2rem;
}

nav > a:hover > svg {
  fill: rgba(29, 161, 242, 1);
}

nav > a.active {
  color: rgba(29, 161, 242, 1);
  font-weight: 400;
}

nav > button:hover {
  background: rgb(23, 129, 194);
}

nav > div:last-child {
  grid-row: 11;
  display: grid;
  grid-template-columns: 3fr 9fr 2fr;
  align-items: center;
  font-size: 0.9rem;
  transition: 200ms ease-in-out;
  border-radius: 50px;
  padding: 0.5rem;
  cursor: pointer;
}

nav > div:last-child:hover {
  background: rgba(29, 161, 242, 0.1);
}

nav > div:last-child img {
  width: 3rem;
  border-radius: 50%;
}

nav > div:last-child p {
  margin-left: 0.5rem;
}

nav > div:last-child svg {
  width: 1.2rem;
  margin-right: 0;
}

/* ###########################################*/

main {
  grid-column: 2;
}

#home {
  display: grid;
  grid-template-rows: 1fr 2fr auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#home > header {
  grid-row: 1;
  position: fixed;
  top: 0;
  width: 40.2vw;
  height: 3.4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header > h3 {
  margin-left: 1rem;
}

header > svg {
  width: 2.5rem;
  fill: rgba(29, 161, 242, 1);
  margin-right: 0.5rem;
  padding: 0.5rem;
}

header > svg:hover {
  background: rgba(29, 161, 242, 0.1);
}

#home > div#whatsUp {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 10fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div#whatsUp > img.profile {
  grid-column: 1;
  height: 3.2rem;
  border-radius: 50%;
  margin: 0.75rem;
}

div#whatsUp > form {
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 0.25fr 1fr;
  grid-template-columns: repeat(12, 1fr);
}

div#whatsUp > form > input {
  grid-row: 1;
  grid-column: 1 / span 12;
  width: 100%;
  background-color: transparent;
  border: 0px solid;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding: 1.5rem 0.2rem 0.25rem 0;
  margin-left: 0.5rem;
}

div#whatsUp > form > input:focus {
  outline: none;
  color: black;
}

div#whatsUp > form > svg {
  grid-row: 3;
  align-self: center;
  width: 2.4rem;
  padding: 0.5rem;
}

div#whatsUp > form > svg:hover {
  background: rgba(29, 161, 242, 0.1);
}

div#whatsUp > form > button {
  grid-row: 3;
  grid-column: 9 / spaan 12;
  width: 70%;
  height: 70%;
  padding: 0.2rem 0px;
  background-color: rgba(29, 161, 242, 0.5);
  justify-self: center;
  align-self: center;
}

#home > div#postContainer {
  grid-row: 3;
}

div#postContainer > article {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(9, 1fr);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

article:hover {
  background-color: rgba(230, 236, 240, 0.3);
}

div#postContainer > article:first-of-type {
  border-top: 0.5rem solid rgba(0, 0, 0, 0.1);
}

div#postContainer > article > div.referance {
  grid-row: 1;
  grid-column: 1 / span 9;
  display: flex;
  align-self: center;
  margin: 0.5rem 0 0 3.2rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.9);
}

div.referance > svg {
  height: 0.8rem;
  fill: rgba(0, 0, 0, 0.9);
  margin-right: 0.25rem;
}

div#postContainer > article > img.profile {
  grid-row: 2 / span 4;
  grid-column: 1;
  height: 3.5rem;
  margin: 0.25rem 0.6rem;
  border-radius: 50%;
  justify-self: center;
}

div#postContainer > article > div.userInfo {
  grid-row: 2;
  grid-column: 2 / span 8;
  margin: 0.25rem 0rem;
  display: flex;
  align-self: center;
}

div.userInfo > svg.blue {
  margin: 0 0.5rem;
  width: 1.2rem;
  align-self: center;
}

div.userInfo > svg.arrowDown,
div.userInfo > h4 {
  align-self: center;
}

div.userInfo > p {
  color: rgba(0, 0, 0, 0.7);
  align-self: center;
}

article.Tweet {
  padding-top: 0.75rem;
}

article > p.tweetText {
  grid-row: 3;
  grid-column: 2 / span 8;
  margin: 0 1rem 0.5rem 0;
}

article > div.post {
  grid-row: 4;
  grid-column: 2 / span 8;
  border-radius: 1rem;
  margin: 0.5rem 1rem 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

article > div.post > img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

article > div.post > h5 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0.25rem 0.5rem 0 0.5rem;
}

article > div.post > p {
  color: rgba(0, 0, 0, 0.7);
  margin: 0.25rem 0.5rem;
}

article > div.post > .sourceLink {
  display: flex;
  align-content: center;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

div.post > div.sourceLink > svg {
  height: 1rem;
  margin-right: 0;
  margin-top: 0.125rem;
  fill: rgba(0, 0, 0, 0.7);
}

div.post > div.sourceLink > a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

article > div.reactions {
  grid-row: 5;
  grid-column: 1 / span 9;
  align-content: center;
  justify-content: space-around;
  display: flex;
  margin: 0 2rem;
  color: rgba(0, 0, 0, 0.7);
}

div.reactions > svg,
div.reactions > div.commented > svg,
div.reactions > div.shared > svg,
div.reactions > div.loved > svg {
  fill: rgba(0, 0, 0, 0.5);
  width: 2.2rem;
  margin-right: 0rem;
  padding: 0.5rem;
}

div.reactions > div.commented,
div.reactions > div.shared,
div.reactions > div.loved {
  display: flex;
}

div.reactions > div.commented > svg:hover {
  background: rgba(29, 161, 242, 0.1);
  fill: rgba(29, 161, 242, 1);
}

div.reactions > div.shared > svg:hover {
  background: rgba(71, 196, 96, 0.1);
  fill: rgba(71, 196, 96, 1);
}

div.reactions > div.loved > svg:hover {
  background: rgba(245, 63, 130, 0.1);
  fill: rgba(245, 63, 130, 1);
}

div.reactions > svg:hover {
  background: rgba(29, 161, 242, 0.1);
  fill: rgba(29, 161, 242, 1);
}

div.reactions > div > p {
  align-self: center;
}

div.reactions > div.commented:hover {
  color: rgba(29, 161, 242, 1);
}

div.reactions > div.shared:hover {
  color: rgba(71, 196, 96, 1);
}

div.reactions > div.loved:hover {
  color: rgba(245, 63, 130, 1);
}

/* ###########################################*/

#profile {
  display: none;
  grid-template-rows: 0.125fr 0.5fr 0.5fr auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#profile > header {
  grid-row: 1;
  position: fixed;
  top: 0;
  width: 40.2vw;
  height: 3.4rem;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#profile > header > svg {
  margin-left: 1rem;
}

#profile > div.backgroundIMG {
  grid-row: 2;
}

div.backgroundIMG img {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

#profile > img {
  border-radius: 50%;
  border: 5px solid white;
  grid-row: 2 / span 3;
  position: absolute;
  top: 11rem;
  margin-left: 1rem;
  z-index: 0;
}

#profile > div#userData {
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

div#userData > button {
  grid-row: 1 / span 2;
  grid-column: 4;
  background-color: white;
  border: 1px solid rgba(29, 161, 242, 1);
  color: rgba(29, 161, 242, 1);
  margin: 0.5rem 1rem;
  padding: 0.25rem 0;
  width: 80%;
  height: 65%;
  align-self: center;
}

div#userData > button:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

div#userData > h3 {
  grid-row: 3;
  grid-column: 1 / span 2;
  align-self: center;
  margin-left: 1rem;
}

div#userData > p:nth-of-type(1) {
  grid-row: 4;
  grid-column: 1 / span 2;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

div#userData > div#calendar {
  grid-row: 5;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
}

div#calendar > svg {
  width: 1.2rem;
  margin-left: 1rem;
  fill: rgba(0, 0, 0, 0.5);
}

div#calendar > p {
  margin-left: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

div#userData > div#followInfo {
  grid-row: 6;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
}

div#followInfo > p {
  margin: 0 1rem;
  color: rgba(0, 0, 0, 0.7);
}

div#followInfo > p > strong {
  margin-right: 0.5rem;
}

div#userData > div#profileNav {
  grid-row: 7 / span 8;
  grid-column: 1 / span 4;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
}

div#profileNav > h5 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem 2.5rem;
  margin-top: 0.5rem;
}

div#profileNav > h5:hover {
  color: rgba(29, 161, 242, 1);
  background-color: rgba(29, 161, 242, 0.1);
}

div#profileNav > h5.active {
  color: rgba(29, 161, 242, 1);
  border-bottom: 2px solid rgba(29, 161, 242, 1);
}

#profile > div#ProfileDb {
  grid-row: 4;
}

div#ProfileDb > article {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(9, 1fr);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem;
}

div#ProfileDb > article:hover {
  background-color: rgba(230, 236, 240, 0.3);
}

div#ProfileDb > article:first-of-type {
  border-top: 0.5rem solid rgba(0, 0, 0, 0.1);
}

div#ProfileDb > article > img.profile {
  grid-column: 1;
  grid-row: 1 / span 4;
  height: 3.5rem;
  margin: 0.25rem 0.6rem;
  border-radius: 50%;
  justify-self: center;
}

div#ProfileDb > article > button {
  grid-column: 9;
  grid-row: 1;
  align-content: center;
  justify-content: right;
  margin-right: 0.25rem;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
}

div#ProfileDb > article > button > svg:hover {
  background-color: rgba(230, 25, 49, 0.1);
  fill: rgba(230, 25, 49, 1);
}

div#ProfileDb > article > form > button {
  align-self: center;
  justify-self: right;
  margin: auto;
  padding: 0;
  width: auto;
  background-color: transparent;
  border-radius: 50%;
}

div#ProfileDb > article > form > button svg:hover {
  background-color: rgba(29, 161, 242, 0.1);
  fill: rgba(29, 161, 242, 1);
}

div#ProfileDb > article > button > svg,
div#ProfileDb > article > form > button > svg {
  width: 2rem;
  padding: 0.5rem;
  align-self: center;
  justify-self: center;
}

div#ProfileDb > article > form {
  grid-row: 2;
  grid-column: 2 / span 8;
  margin: 0 1rem 0.5rem 0;
  display: flex;
  align-content: center;
}

div#ProfileDb > article > form > input {
  width: 100%;
  background-color: transparent;
  border: 0px solid;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding: 1.5rem 0.2rem 0.25rem 0;
  margin-left: 0.5rem;
}

div#ProfileDb > article > form > input:focus {
  outline: none;
  color: black;
}

div#ProfileDb > article > div.userInfo {
  grid-column: 2 / span 6;
  grid-row: 1;
  display: flex;
  align-content: center;
}

div#ProfileDb > article > div.post > img {
  border-radius: 1rem;
}

/* ###########################################*/

section#right {
  grid-column: 3;
}

div#sheredRightSide {
  display: grid;
  grid-template-rows: 1fr 14fr 8fr 1fr;
  gap: 1rem;
  position: sticky;
  top: -55vh;
}

div#serchBar {
  grid-row: 1;
  position: fixed;
  width: 22.6vw;
  height: 3.4rem;
  background-color: white;
}

div#serchBar > input {
  border: 0px solid;
  width: 100%;
  padding: 0.75rem 3rem;
  margin: 0.4rem 0;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(230, 236, 240, 0.7);
  border-radius: 3rem;
}

div#serchBar > input:focus {
  outline: none;
  border: 1px solid rgba(29, 161, 242, 1);
  background-color: white;
}

div#serchBar > svg {
  width: 1.4rem;
  fill: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1.1rem;
  right: 19.5rem;
}

div#trends {
  grid-row: 2;
  background-color: rgba(230, 236, 240, 0.3);
  border-radius: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-rows: repeat(7, auto);
}

div#trends > div.trend {
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div#trends > div.trend:hover {
  background-color: rgba(230, 236, 240, 0.5);
}

div#trends > div.trend:first-of-type:hover {
  background-color: transparent;
}

div.trend > h3,
div.trend > h4,
div#trends > p,
div.trend > p {
  grid-column: 1;
  margin-left: 1rem;
  align-self: center;
}

div.trend > p {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

div#trends > p {
  color: rgba(29, 161, 242, 1);
  font-weight: 400;
  align-self: center;
}

div.trend > h4 {
  padding: 0.25rem 0 0.5rem 0;
}

div.trend > svg {
  grid-column: 2;
}

div.trend > svg:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

div.trend > svg.blue {
  justify-self: right;
  align-self: center;
  margin-left: auto;
  margin-right: 1.2rem;
  width: 2.2rem;
  padding: 0.4rem;
}

div#WhoToFollow {
  grid-row: 3;
  background-color: rgba(230, 236, 240, 0.3);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: repeat(5, auto);
}

div#WhoToFollow > h3 {
  padding: 1rem;
  align-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div#WhoToFollow > div.followOption {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

div#WhoToFollow > div.followOption:hover {
  background-color: rgba(230, 236, 240, 0.5);
}

div.followOption > img {
  grid-column: 1;
  grid-row: 1 / span 2;
  border-radius: 50%;
  width: 3rem;
  margin: 1rem 0.5rem;
  justify-self: center;
  align-self: center;
}

div.followOption > h4 {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
}

h4 > span > svg.blue {
  width: 1rem;
}

div.followOption > svg.blue {
  margin-right: auto;
}

div.followOption > p {
  grid-column: 2;
  grid-row: 2;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  align-self: flex-start;
}

div.followOption > button {
  grid-column: 3;
  grid-row: 1 / span 2;
  width: 70%;
  padding: 0;
  height: 50%;
  background-color: rgba(230, 236, 240, 0.3);
  color: rgba(29, 161, 242, 1);
  border: 1px solid rgba(29, 161, 242, 1);
}

div.followOption > button:hover {
  background-color: rgba(206, 211, 237, 0.5);
}

div#WhoToFollow > p {
  padding: 1rem;
  align-self: center;
  color: rgba(29, 161, 242, 1);
}

div#sheredRightSide > footer {
  grid-row: 4;
}
div#subNav {
  display: flex;
  justify-content: space-between;
}

div#subNav > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}

div#subNav > p,
footer > p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}

div#subNav > a:hover,
div#subNav > p:hover {
  text-decoration: underline solid rgba(0, 0, 0, 0.5);
}

footer > p {
  margin-top: 0.5rem;
}

div#subNav > svg.arrowDown {
  margin-left: 0;
  padding: 0;
  width: 1rem;
}

div#subNav > svg.arrowDown:hover {
  background-color: transparent;
}

/* ###########################################*/

div.modalBox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-bottom: 7rem;
  left: 0;
  top: 0em;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

div.modalContent {
  background-color: white;
  margin: auto;
  border-radius: 1rem;
  width: 38%;
  display: grid;
  grid-template-rows: 0.4fr 2fr;
  grid-template-columns: 0.5fr 3fr;
}

div.modalContent > svg.close {
  grid-column: 1;
  grid-row: 1;
  fill: rgba(29, 161, 242, 1);
  width: 2.4rem;
  padding: 0.5rem;
  margin: auto 0.5rem;
}

div.modalContent > svg.close:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

div.modalContent > div.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  grid-row: 1;
  grid-column: 1 / span 2;
}

div.modalContent > img {
  grid-column: 1;
  grid-row: 2;
  width: 3.5rem;
  border-radius: 50%;
  margin: 0.5rem 0.75rem;
}

div.modalContent > form {
  grid-column: 2;
  grid-row: 2;
  margin-left: 0.5rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(12, 0.5fr);
}

div.modalContent > form > input {
  grid-row: 1;
  grid-column: 1 / span 10;
  background-color: transparent;
  border: 0px solid;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  width: 100%;
  padding: 1.5rem 0.2rem 0.25rem 0;
}

div.modalContent > form > input:focus {
  outline: none;
  color: black;
}

div.modalContent > form > div#PublicationOpt {
  grid-column: 1 / span 10;
  grid-row: 4;
  display: flex;
  border-radius: 3rem;
  margin: auto auto auto 0;
  padding: 0.5rem;
  align-items: center;
}

div#PublicationOpt:hover {
  background: rgba(29, 161, 242, 0.1);
}

div#PublicationOpt > h5 {
  color: rgba(29, 161, 242, 1);
  margin-left: 0.5rem;
}

div.modalContent > form > div.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  grid-row: 4;
  grid-column: 1 / span 11;
}

div.modalContent > form > svg {
  grid-row: 5;
  align-self: center;
  width: 2.4rem;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
}

div.modalContent > form > svg:hover {
  background: rgba(29, 161, 242, 0.1);
}

div.modalContent > form > button {
  grid-row: 5;
  grid-column: 10 / span 12;
  width: 70%;
  height: 70%;
  padding: 0.2rem 0px;
  background-color: rgba(29, 161, 242, 0.5);
  justify-self: center;
  align-self: center;
}

/* ###########################################*/

div.logoutBox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0em;
  width: 100%;
  height: 100%;
  overflow: auto;
}

div.logoutContent {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 53px 1px rgba(0, 0, 0, 0.4);
  margin: auto auto 14vh 7vw;
  width: 22vw;
  height: 18vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

div.logoutContent > div {
  grid-row: 1;
  display: grid;
  grid-template-columns: 3fr 9fr 2fr;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.logoutContent > div img {
  width: 3rem;
  border-radius: 50%;
}

div.logoutContent > div p {
  margin-left: 0.5rem;
}

div.logoutContent > div svg {
  width: 1.2rem;
  margin-right: 0;
}

div.logoutContent > a {
  grid-row: 2;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  align-self: center;
}

div.logoutContent > a:hover {
  background-color: rgba(230, 236, 240, 0.5);
}

/* ###########################################*/

svg {
  width: 1.6rem;
  border-radius: 50%;
}

svg.active {
  fill: rgba(29, 161, 242, 1);
}

svg.blue {
  width: 1.4rem;
  fill: rgba(29, 161, 242, 1);
}

svg.arrowDown {
  grid-row: 1 / span 2;
  width: 1.8rem;
  justify-self: right;
  align-self: center;
  margin-left: auto;
  margin-right: 1.2rem;
  padding: 0.5rem;
  fill: rgba(0, 0, 0, 0.5);
}

svg.arrowDown:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
